/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f0fafc;
}

/* HEADER */
.main-header {
    width: 100%;
    padding: 20px 40px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-left {
    display: flex;
    gap: 25px;
}

.nav-left a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 16px;
    position: relative;
}

.nav-left a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: black;
    transition: width 0.3s ease;
}

.nav-left a:hover::after {
    width: 100%;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
}

.logo:hover {    
    transform: translateX(-50%) scale(1.08); 
}

.nav-right {
    display: flex;
    gap: 18px;
}

.nav-right img {
    width: 22px;
}

/* ABOUT */
.about-container {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: flex-start;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.about-image {
    max-width: 850px;
}
.about-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}


.about-text {
    margin-top: 50px;      
    max-width: 90%;        
}

/* Title + Tag */
.about-tag {
    font-size: 26px;
    margin-bottom: 12px;
}

.about-title {
    font-family: 'Anton', sans-serif;
    font-size: 100px;      
    line-height: 1.1;
    margin-bottom: 30px;
}

.about-box {
    background: black;
    color: white;
    padding: 6px 14px;
    display: inline-block;
}

/* Paragraph */
.about-desc {
    font-size: 20px;
    line-height: 1.7;
    max-width: 620px;     
    text-align: left;     
}

/* FOOTER */ 
.footer-info {
    width: 100%;
    background: #181e2f;
    color: #e9f3ff;
    padding: 40px 0;
}

.footer-info-inner {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;   
    align-items: flex-start;
    gap: 400px;                
    text-align: center;        
}

.footer-box {
    width: 260px;              
}

.footer-box strong {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
    display: block;
}

.footer-box p {
    font-size: 28px;
    line-height: 1.7;
    margin: 0;
}




