/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* HEADER */
.main-header {
    width: 100%;
    padding: 20px 40px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-left, .nav-right {
    display: flex;
    gap: 25px;
}

.nav-left a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 16px;
    position: relative;
}

.nav-left a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: black;
    transition: width 0.3s ease;
}

.nav-left a:hover::after {
    width: 100%;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;

    transition: color 0.3s ease, transform 0.3s ease;
}

.logo:hover {    
    transform: translateX(-50%) scale(1.08); /* pehme zoom */
}

.nav-right img {
    width: 22px;
}

/* HERO AREA */
.hero {
    position: relative;
    width: 100%;
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-title {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 240px;
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 0 0 30px rgba(0,0,0,1);

    max-width: none;
    white-space: nowrap;
}

/* HERO QUOTE */
.hero-quote {
    position: absolute;
    top: 90%; /* nihuta üles-alla siit */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-shadow: 0 0 12px rgba(0,0,0,0.55);
    width: 90%;
    max-width: 900px;
}

.quote-bar {
    width: 100%;
    background: #0F0F0F;
    padding: 75px 0;
    text-align: center;
}

.quote-bar p {
    color: white;
    font-size: 46px;
    font-weight: 300;
    margin: 0;
    font-family: 'Anton', sans-serif;
}
